body{
    background-color: #feeef5;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.sectionOne{
    background-color: #fff;
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 20px;
    box-shadow: 0 20px 5px rgba(173, 8, 85, 0.1);
    
}
form input{
    padding: 10px;
    margin: 10px;
    border: 2px solid #41cff7;
    border-radius: 5px;
    width: 200px;
}
button{
    padding: 10px 20px;
    background-color: #f7dbe8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}