body{
    background-color: #feeef5;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.sectionOne{
    background-color: #fff;
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 20px;
    box-shadow: 0 20px 5px rgba(173, 8, 85, 0.1);
    
}